<a href="https://colab.research.google.com/github/amitxsethi/Text2Sql-AIML/blob/main/gensql_group6_amit_llama13B_full_spider_official_spider_evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!nvidia-smi

import torch
print(f"\nCUDA available: {torch.cuda.is_available()}")
if torch.cuda.is_available():
    print(f"GPU: {torch.cuda.get_device_name(0)}")
    print(f"Memory: {torch.cuda.get_device_properties(0).total_memory / 1e9:.1f} GB")

Tue Nov 25 04:39:29 2025
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 550.54.15              Driver Version: 550.54.15      CUDA Version: 12.4     |
|-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  NVIDIA A100-SXM4-80GB          Off |   00000000:00:05.0 Off |                    0 |
| N/A   37C    P0             55W /  400W |       0MiB /  81920MiB |      0%      Default |
|                                         |                        |             Disabled |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI        PID   Type   Process name                              GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|  No running processes found                                                             |
+-----------------------------------------------------------------------------------------+

CUDA available: True
GPU: NVIDIA A100-SXM4-80GB
Memory: 85.2 GB

The `nbstripout` tool can help clean up notebook metadata, which might resolve the rendering issue. You'll need to specify the exact filename of this notebook. After running the command, you might need to refresh your browser page for the changes to take effect.

In [2]:
!git clone https://github.com/jieshi10/gensql.git
%cd gensql
!ls -la
print("✓ Repository cloned!")

Cloning into 'gensql'...
remote: Enumerating objects: 149, done.
remote: Counting objects: 100% (149/149), done.
remote: Compressing objects: 100% (116/116), done.
remote: Total 149 (delta 29), reused 148 (delta 28), pack-reused 0 (from 0)
Receiving objects: 100% (149/149), 2.42 MiB | 3.46 MiB/s, done.
Resolving deltas: 100% (29/29), done.
/content/gensql
total 132
drwxr-xr-x 10 root root  4096 Nov 25 04:39 .
drwxr-xr-x  1 root root  4096 Nov 25 04:39 ..
drwxr-xr-x  4 root root  4096 Nov 25 04:39 benchmark
drwxr-xr-x  3 root root  4096 Nov 25 04:39 bird_code
drwxr-xr-x  2 root root  4096 Nov 25 04:39 docker
drwxr-xr-x  8 root root  4096 Nov 25 04:39 .git
-rw-r--r--  1 root root  3139 Nov 25 04:39 .gitignore
-rw-r--r--  1 root root  1064 Nov 25 04:39 LICENSE
-rw-r--r--  1 root root 37953 Nov 25 04:39 main.py
drwxr-xr-x  2 root root  4096 Nov 25 04:39 pretrained
-rw-r--r--  1 root root 16684 Nov 25 04:39 process_sql.py
-rw-r--r--  1 root root  4259 Nov 25 04:39 README.md
-rw-r--r--  1 root root   110 Nov 25 04:39 requirements.txt
-rw-r--r--  1 root root  4095 Nov 25 04:39 schema_free_utils_2.py
drwxr-xr-x  8 root root  4096 Nov 25 04:39 sentence_transformers
drwxr-xr-x  2 root root  4096 Nov 25 04:39 spider_code
-rw-r--r--  1 root root  6014 Nov 25 04:39 sql_utils_2.py
drwxr-xr-x  2 root root  4096 Nov 25 04:39 tools
✓ Repository cloned!

In [3]:
# Fix dependency issues first
!pip install -q jedi  # Fix ipython warning

# Install packages in the right order to avoid conflicts
print("Installing packages (this takes 2-3 minutes)...")

# Step 1: Core ML packages
!pip install -q torch torchvision torchaudio

# Step 2: NLP packages with compatible versions
!pip install -q 'transformers>=4.41.0,<5.0.0'
!pip install -q sentence-transformers
!pip install -q 'nltk>=3.9'  # Fix textblob conflict
!pip install -q openai

# Step 3: SQL and utility packages
!pip install -q 'sqlglot>=23.4'  # Use newer version
!pip install -q sqlparse
!pip install -q func-timeout
!pip install -q scikit-learn

# Step 4: Install vLLM last (takes longest)
print("\nInstalling vLLM (this takes 1-2 minutes)...")
!pip install -q vllm

print("\n✓ All packages installed successfully!")
print("\nInstalled versions:")
!pip list | grep -E 'torch|transformers|vllm|nltk|sqlglot'

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 73.4 MB/s eta 0:00:00
Installing packages (this takes 2-3 minutes)...
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.3/44.3 kB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for func-timeout (setup.py) ... done

Installing vLLM (this takes 1-2 minutes)...
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 9.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 370.3/370.3 MB 6.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 355.0/355.0 kB 33.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 183.0/183.0 kB 19.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.5/45.5 kB 4.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 105.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 kB 11.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.4/45.4 kB 4.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 96.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 63.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 122.9/122.9 MB 20.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.7/8.7 MB 108.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.2/96.2 kB 10.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 65.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.5/6.5 MB 123.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.6/86.6 kB 8.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 91.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 463.4/463.4 kB 43.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 99.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.3/72.3 MB 36.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 78.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 388.0/388.0 kB 37.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 285.7/285.7 kB 27.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 224.9/224.9 kB 23.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 180.7/180.7 kB 18.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.6/71.6 kB 7.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 456.8/456.8 kB 40.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 82.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.2/102.2 kB 11.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.4/42.4 MB 58.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 102.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.8/75.8 MB 32.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.9/40.9 kB 4.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.6/61.6 kB 6.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 30.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 517.7/517.7 kB 42.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 98.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.4/4.4 MB 74.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 820.6/820.6 kB 61.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 959.8/959.8 kB 67.8 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gradio 5.49.1 requires pydantic<2.12,>=2.0, but you have pydantic 2.12.4 which is incompatible.

✓ All packages installed successfully!

Installed versions:
nltk                                     3.9.1
sentence-transformers                    5.1.2
sqlglot                                  25.20.2
torch                                    2.9.0+cu126
torchao                                  0.10.0
torchaudio                               2.9.0+cu126
torchdata                                0.11.0
torchsummary                             1.5.1
torchtune                                0.6.1
torchvision                              0.24.0+cu126
transformers                             4.57.1
vllm                                     0.11.2

In [4]:
import nltk
import ssl

ssl._create_default_https_context = ssl._create_unverified_context
nltk.download('punkt', quiet=True)
nltk.download('averaged_perceptron_tagger', quiet=True)

print("✓ NLTK data downloaded!")

✓ NLTK data downloaded!

In [5]:
print("Fixing sentence_transformers compatibility...")

# Fix SentenceTransformer.py
with open('sentence_transformers/SentenceTransformer.py', 'r') as f:
    content = f.read()
content = content.replace(
    'from huggingface_hub import HfApi, HfFolder, Repository, hf_hub_url, cached_download',
    'from huggingface_hub import HfApi, HfFolder, Repository, hf_hub_url, hf_hub_download'
)
with open('sentence_transformers/SentenceTransformer.py', 'w') as f:
    f.write(content)

# Fix util.py
with open('sentence_transformers/util.py', 'r') as f:
    content = f.read()

content = content.replace(
    'from huggingface_hub import HfApi, hf_hub_url, cached_download, HfFolder',
    '''from huggingface_hub import HfApi, hf_hub_url, hf_hub_download, HfFolder
try:
    from huggingface_hub import cached_download
except ImportError:
    cached_download = None'''
)

with open('sentence_transformers/util.py', 'w') as f:
    f.write(content)

print("✓ Fixed sentence_transformers!")

Fixing sentence_transformers compatibility...
✓ Fixed sentence_transformers!

In [6]:
from huggingface_hub import snapshot_download

print("Downloading BGE model (~1.3 GB)...")
print("This will take 2-3 minutes...\n")

model_path = snapshot_download(
    repo_id='BAAI/bge-large-en-v1.5',
    local_dir='./pretrained/bge-large-en-v1.5',
    local_dir_use_symlinks=False
)

print(f"\n✓ BGE model downloaded!")
!du -sh pretrained/bge-large-en-v1.5

Downloading BGE model (~1.3 GB)...
This will take 2-3 minutes...

/usr/local/lib/python3.12/dist-packages/huggingface_hub/utils/_auth.py:94: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(
/usr/local/lib/python3.12/dist-packages/huggingface_hub/file_download.py:979: UserWarning: `local_dir_use_symlinks` parameter is deprecated and will be ignored. The process to download files to a local folder has been updated and do not rely on symlinks anymore. You only need to pass a destination folder as`local_dir`.
For more details, check out https://huggingface.co/docs/huggingface_hub/main/en/guides/download#download-files-to-local-folder.
  warnings.warn(

Fetching 14 files:   0%|          | 0/14 [00:00<?, ?it/s]

modules.json:   0%|          | 0.00/349 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/191 [00:00<?, ?B/s]

config_sentence_transformers.json:   0%|          | 0.00/124 [00:00<?, ?B/s]

.gitattributes: 0.00B [00:00, ?B/s]

config.json:   0%|          | 0.00/779 [00:00<?, ?B/s]

README.md: 0.00B [00:00, ?B/s]

onnx/model.onnx:   0%|          | 0.00/1.34G [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/1.34G [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/125 [00:00<?, ?B/s]

sentence_bert_config.json:   0%|          | 0.00/52.0 [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/366 [00:00<?, ?B/s]

vocab.txt: 0.00B [00:00, ?B/s]

tokenizer.json: 0.00B [00:00, ?B/s]

pytorch_model.bin:   0%|          | 0.00/1.34G [00:00<?, ?B/s]

✓ BGE model downloaded!
3.8G	pretrained/bge-large-en-v1.5

In [7]:
import os

os.makedirs('benchmark', exist_ok=True)

print("Downloading Spider dataset (~100 MB)...")
!wget -q --show-progress -O benchmark/spider.zip "https://drive.usercontent.google.com/download?id=1TqleXec_OykOYFREKKtschzY29dUcVAQ&export=download&confirm=t"

print("\nExtracting...")
!cd benchmark && unzip -q spider.zip && rm spider.zip

print("✓ Spider dataset ready!")
!du -sh benchmark/spider
!ls benchmark/spider/

Downloading Spider dataset (~100 MB)...
benchmark/spider.zi 100%[===================>]  95.12M  68.1MB/s    in 1.4s

Extracting...
✓ Spider dataset ready!
878M	benchmark/spider
database      dev.json	  tables.json	  train_others.json
dev_gold.sql  README.txt  train_gold.sql  train_spider.json

In [29]:
import subprocess
import time

print("="*70)
print("DOWNLOADING CODELLAMA-13B-INSTRUCT")
print("="*70)
print("\n📦 Size: ~26GB")
print("⏱️  Time: 15-20 minutes on Colab Pro A100")
print("\nStarting download...\n")

start_time = time.time()

# Install git-lfs
subprocess.run(['git', 'lfs', 'install'], check=True)
print("✓ Git LFS installed\n")

# Clone the model
subprocess.run([
    'git', 'clone',
    'https://huggingface.co/codellama/CodeLlama-13b-Instruct-hf',
    'models/codellama-13b'
], check=True)

elapsed = (time.time() - start_time) / 60
print(f"\n{'='*70}")
print(f"✅ DOWNLOAD COMPLETE in {elapsed:.1f} minutes!")
print('='*70)

# Verify
!echo "\nModel size:"
!du -sh models/codellama-13b

!echo "\nModel files:"
!ls -lh models/codellama-13b/*.json

======================================================================
DOWNLOADING CODELLAMA-13B-INSTRUCT
======================================================================

📦 Size: ~26GB
⏱️  Time: 15-20 minutes on Colab Pro A100

Starting download...

✓ Git LFS installed


======================================================================
✅ DOWNLOAD COMPLETE in 8.4 minutes!
======================================================================
\nModel size:
98G	models/codellama-13b
\nModel files:
-rw-r--r-- 1 root root  589 Nov 25 05:43 models/codellama-13b/config.json
-rw-r--r-- 1 root root  116 Nov 25 05:43 models/codellama-13b/generation_config.json
-rw-r--r-- 1 root root  31K Nov 25 05:43 models/codellama-13b/model.safetensors.index.json
-rw-r--r-- 1 root root  30K Nov 25 05:43 models/codellama-13b/pytorch_model.bin.index.json
-rw-r--r-- 1 root root  411 Nov 25 05:43 models/codellama-13b/special_tokens_map.json
-rw-r--r-- 1 root root 1.6K Nov 25 05:43 models/codellama-13b/tokenizer_config.json
-rw-r--r-- 1 root root 1.8M Nov 25 05:43 models/codellama-13b/tokenizer.json

In [40]:
import subprocess
import time
import requests

# Kill any old processes
print("Stopping old vLLM processes...")
subprocess.run("pkill -9 -f vllm", shell=True)
time.sleep(3)
print("✓ Stopped\n")

Stopping old vLLM processes...
✓ Stopped

In [41]:
!lsof -ti :8000 && echo "⚠️  Port in use" || echo "✓ Port free"

✓ Port free

In [37]:
# Update the LLM client to use port 8000
with open('main.py', 'r') as f:
    code = f.read()

# Change port from 8080 to 8000
code = code.replace("port=8080", "port=8000")
code = code.replace("LLMClient(host='127.0.0.1', port=8080)",
                   "LLMClient(host='127.0.0.1', port=8000)")
code = code.replace("DB_NAME: str='bird'", "DB_NAME: str='spider'")

with open('main.py', 'w') as f:
    f.write(code)

print("✓ Updated main.py to use port 8000")

✓ Updated main.py to use port 8000

In [38]:
print("="*70)
print("OPTIMIZING SETTINGS FOR CODELLAMA-13B")
print("="*70)

# IMPORTANT: Use MAX_ITER=3 (not 5!)
# IMPORTANT: Use FEW_SHOT_K=4 (not 8!)

import subprocess

# Update MAX_ITER to 3
subprocess.run(['sed', '-i', 's/MAX_ITER = 5/MAX_ITER = 3/', 'main.py'])
subprocess.run(['sed', '-i', 's/MAX_ITER = [0-9]\\+/MAX_ITER = 3/', 'main.py'])

# Update FEW_SHOT_K to 4
subprocess.run(['sed', '-i', 's/FEW_SHOT_K = 8/FEW_SHOT_K = 4/', 'main.py'])
subprocess.run(['sed', '-i', 's/FEW_SHOT_K = [0-9]\\+/FEW_SHOT_K = 4/', 'main.py'])

# Update max_workers to 12 (optimal for 13B on A100)
subprocess.run(['sed', '-i', 's/max_workers=[0-9]\\+/max_workers=12/', 'main.py'])

# Make sure we're running full dataset
subprocess.run(['sed', '-i', 's/^\\s*data = data\\[:/# data = data[:/', 'main.py'])

print("\n✓ Settings updated!\n")
print("Current configuration:")
!grep "MAX_ITER = " main.py | grep -v "^#" | head -1
!grep "FEW_SHOT_K = " main.py | grep -v "^#" | head -1
!grep "max_workers=" main.py | grep -v "^#" | head -1

print("\n" + "="*70)
print("OPTIMIZED FOR CODELLAMA-13B:")
print("="*70)
print("  MAX_ITER = 3      (vs 5 in 7B run → 40% faster)")
print("  FEW_SHOT_K = 4    (vs 8 in 7B run → less context overflow)")
print("  max_workers = 12  (optimized for A100)")
print("  Full dataset      (1,034 examples)")
print("="*70)
print("\nExpected improvements over 7B:")
print("  • EX: 50% → 70-75% (+20-25%)")
print("  • Null rate: 25% → 10-15% (half the failures)")
print("  • Complex queries: Much better (JOINs, subqueries, NOT EXISTS)")
print("="*70)

======================================================================
OPTIMIZING SETTINGS FOR CODELLAMA-13B
======================================================================

✓ Settings updated!

Current configuration:
MAX_ITER = 3
FEW_SHOT_K = 4
    with ThreadPoolExecutor(max_workers=12) as executor:

======================================================================
OPTIMIZED FOR CODELLAMA-13B:
======================================================================
  MAX_ITER = 3      (vs 5 in 7B run → 40% faster)
  FEW_SHOT_K = 4    (vs 8 in 7B run → less context overflow)
  max_workers = 12  (optimized for A100)
  Full dataset      (1,034 examples)
======================================================================

Expected improvements over 7B:
  • EX: 50% → 70-75% (+20-25%)
  • Null rate: 25% → 10-15% (half the failures)
  • Complex queries: Much better (JOINs, subqueries, NOT EXISTS)
======================================================================

In [42]:
import subprocess
import time
import requests

print("="*70)
print("STARTING VLLM WITH CODELLAMA-13B")
print("="*70)

# 1. Clean up old processes
print("\n1. Cleaning up old vLLM processes...")
subprocess.run("pkill -9 -f vllm", shell=True)
time.sleep(3)
print("   ✓ Cleaned")

# 2. Check GPU
print("\n2. GPU Status:")
!nvidia-smi --query-gpu=name,memory.total,memory.free,memory.used --format=csv

# 3. Start vLLM
print("\n3. Starting vLLM server...")
print("   Model: CodeLlama-13B-Instruct")
print("   GPU memory: 0.85 (34/40GB)")
print("   Max length: 1536 tokens")
print("   Max sequences: 12")
print("\n   ⏳ Loading model (60-90 seconds)...\n")

subprocess.Popen([
    'python', '-m', 'vllm.entrypoints.openai.api_server',
    '--host', '127.0.0.1',
    '--port', '8000',
    '--model', './models/codellama-13b',
    '--served-model-name', 'CodeLlama-13B-Instruct',
    '--max-model-len', '1536',
    '--gpu-memory-utilization', '0.85',
    '--dtype', 'float16',
    '--max-num-seqs', '12',
    '--disable-log-requests'
], stdout=open('vllm_codellama13b.log', 'w'), stderr=subprocess.STDOUT)

# 4. Wait for server
print("4. Waiting for server...")
server_ready = False
for i in range(20):
    time.sleep(10)
    try:
        r = requests.get('http://127.0.0.1:8000/health', timeout=2)
        if r.status_code == 200:
            models = requests.get('http://127.0.0.1:8000/v1/models').json()
            print(f"\n{'='*70}")
            print(f"✅ SERVER READY after {(i+1)*10} seconds!")
            print(f"✅ Model: {models['data'][0]['id']}")
            print('='*70)
            print("\n🚀 Ready to run Gen-SQL!\n")
            server_ready = True
            break
    except Exception as e:
        print(f"   ⏳ {(i+1)*10}s...")

if not server_ready:
    print("\n❌ Server failed to start. Checking logs:")
    !tail -50 vllm_codellama13b.log

======================================================================
STARTING VLLM WITH CODELLAMA-13B
======================================================================

1. Cleaning up old vLLM processes...
   ✓ Cleaned

2. GPU Status:
name, memory.total [MiB], memory.free [MiB], memory.used [MiB]
NVIDIA A100-SXM4-80GB, 81920 MiB, 81216 MiB, 5 MiB

3. Starting vLLM server...
   Model: CodeLlama-13B-Instruct
   GPU memory: 0.85 (34/40GB)
   Max length: 1536 tokens
   Max sequences: 12

   ⏳ Loading model (60-90 seconds)...

4. Waiting for server...
   ⏳ 10s...
   ⏳ 20s...
   ⏳ 30s...
   ⏳ 40s...
   ⏳ 50s...
   ⏳ 60s...
   ⏳ 70s...
   ⏳ 80s...
   ⏳ 90s...
   ⏳ 100s...
   ⏳ 110s...

======================================================================
✅ SERVER READY after 120 seconds!
✅ Model: CodeLlama-13B-Instruct
======================================================================

🚀 Ready to run Gen-SQL!

In [12]:
!tail -100 vllm_codellama.log

Loading safetensors checkpoint shards:   0% Completed | 0/2 [00:00<?, ?it/s]
Loading safetensors checkpoint shards:  50% Completed | 1/2 [00:01<00:01,  1.60s/it]
Loading safetensors checkpoint shards: 100% Completed | 2/2 [00:06<00:00,  3.42s/it]
Loading safetensors checkpoint shards: 100% Completed | 2/2 [00:06<00:00,  3.15s/it]
(EngineCore_DP0 pid=2550)
(EngineCore_DP0 pid=2550) INFO 11-25 04:46:43 [default_loader.py:314] Loading weights took 6.53 seconds
(EngineCore_DP0 pid=2550) INFO 11-25 04:46:44 [gpu_model_runner.py:3338] Model loading took 12.5563 GiB memory and 34.102175 seconds
(EngineCore_DP0 pid=2550) INFO 11-25 04:46:52 [backends.py:631] Using cache directory: /root/.cache/vllm/torch_compile_cache/319dc32337/rank_0_0/backbone for vLLM's torch.compile
(EngineCore_DP0 pid=2550) INFO 11-25 04:46:52 [backends.py:647] Dynamo bytecode transform time: 7.76 s
(EngineCore_DP0 pid=2550) INFO 11-25 04:46:55 [backends.py:251] Cache the graph for dynamic shape for later use
(EngineCore_DP0 pid=2550) INFO 11-25 04:47:06 [backends.py:282] Compiling a graph for dynamic shape takes 14.11 s
(EngineCore_DP0 pid=2550) INFO 11-25 04:47:08 [monitor.py:34] torch.compile takes 21.87 s in total
(EngineCore_DP0 pid=2550) INFO 11-25 04:47:10 [gpu_worker.py:359] Available KV cache memory: 54.55 GiB
(EngineCore_DP0 pid=2550) INFO 11-25 04:47:11 [kv_cache_utils.py:1229] GPU KV cache size: 111,712 tokens
(EngineCore_DP0 pid=2550) INFO 11-25 04:47:11 [kv_cache_utils.py:1234] Maximum concurrency for 2,048 tokens per request: 54.55x
Capturing CUDA graphs (mixed prefill-decode, PIECEWISE): 100%|██████████| 7/7 [00:00<00:00, 15.46it/s]
Capturing CUDA graphs (decode, FULL): 100%|██████████| 5/5 [00:00<00:00, 19.85it/s]
(EngineCore_DP0 pid=2550) INFO 11-25 04:47:13 [gpu_model_runner.py:4244] Graph capturing finished in 2 secs, took 0.11 GiB
(EngineCore_DP0 pid=2550) INFO 11-25 04:47:13 [core.py:250] init engine (profile, create kv cache, warmup model) took 28.87 seconds
(APIServer pid=2281) [INFO] model_hosting_container_standards - decorators.py:76: [PING] Framework handler registered: ping
(APIServer pid=2281) INFO:model_hosting_container_standards:[PING] Framework handler registered: ping
(APIServer pid=2281) [INFO] model_hosting_container_standards.common.transforms.base_factory - base_factory.py:90: [INJECT_ADAPTER_ID] Transform decorator applied to: invocations
(APIServer pid=2281) INFO:model_hosting_container_standards.common.transforms.base_factory:[INJECT_ADAPTER_ID] Transform decorator applied to: invocations
(APIServer pid=2281) [INFO] model_hosting_container_standards.common.transforms.base_factory - base_factory.py:115: [INJECT_ADAPTER_ID] Registered transform handler for invocations
(APIServer pid=2281) INFO:model_hosting_container_standards.common.transforms.base_factory:[INJECT_ADAPTER_ID] Registered transform handler for invocations
(APIServer pid=2281) [INFO] model_hosting_container_standards.common.transforms.base_factory - base_factory.py:90: [STATEFUL_SESSION_MANAGER] Transform decorator applied to: decorated_func
(APIServer pid=2281) INFO:model_hosting_container_standards.common.transforms.base_factory:[STATEFUL_SESSION_MANAGER] Transform decorator applied to: decorated_func
(APIServer pid=2281) [INFO] model_hosting_container_standards.common.transforms.base_factory - base_factory.py:115: [STATEFUL_SESSION_MANAGER] Registered transform handler for decorated_func
(APIServer pid=2281) INFO:model_hosting_container_standards.common.transforms.base_factory:[STATEFUL_SESSION_MANAGER] Registered transform handler for decorated_func
(APIServer pid=2281) [INFO] model_hosting_container_standards - decorators.py:76: [INVOKE] Framework handler registered: decorated_func
(APIServer pid=2281) INFO:model_hosting_container_standards:[INVOKE] Framework handler registered: decorated_func
(APIServer pid=2281) [INFO] model_hosting_container_standards - __init__.py:127: Starting SageMaker bootstrap process
(APIServer pid=2281) INFO:model_hosting_container_standards:Starting SageMaker bootstrap process
(APIServer pid=2281) [INFO] model_hosting_container_standards - registry.py:109: [REGISTRY] Middleware resolution and registration complete
(APIServer pid=2281) INFO:model_hosting_container_standards:[REGISTRY] Middleware resolution and registration complete
(APIServer pid=2281) [INFO] model_hosting_container_standards - core.py:100: [MIDDLEWARE_LOADER] Middleware stack rebuilt successfully
(APIServer pid=2281) INFO:model_hosting_container_standards:[MIDDLEWARE_LOADER] Middleware stack rebuilt successfully
(APIServer pid=2281) [INFO] model_hosting_container_standards - core.py:102: [MIDDLEWARE_LOADER] Processed 3 middlewares
(APIServer pid=2281) INFO:model_hosting_container_standards:[MIDDLEWARE_LOADER] Processed 3 middlewares
(APIServer pid=2281) [WARNING] model_hosting_container_standards.common.custom_code_ref_resolver.function_loader - function_loader.py:73: Failed to load function from spec 'model:custom_sagemaker_invocation_handler': HandlerFileNotFoundError: File '/opt/ml/model/model.py' not found in search paths: ['/opt/ml/model/']
(APIServer pid=2281) WARNING:model_hosting_container_standards.common.custom_code_ref_resolver.function_loader:Failed to load function from spec 'model:custom_sagemaker_invocation_handler': HandlerFileNotFoundError: File '/opt/ml/model/model.py' not found in search paths: ['/opt/ml/model/']
(APIServer pid=2281) [WARNING] model_hosting_container_standards.common.custom_code_ref_resolver.function_loader - function_loader.py:73: Failed to load function from spec 'model:custom_sagemaker_ping_handler': HandlerFileNotFoundError: File '/opt/ml/model/model.py' not found in search paths: ['/opt/ml/model/']
(APIServer pid=2281) WARNING:model_hosting_container_standards.common.custom_code_ref_resolver.function_loader:Failed to load function from spec 'model:custom_sagemaker_ping_handler': HandlerFileNotFoundError: File '/opt/ml/model/model.py' not found in search paths: ['/opt/ml/model/']
(APIServer pid=2281) [INFO] model_hosting_container_standards.sagemaker.sagemaker_router - sagemaker_router.py:93: Creating SageMaker router with unified route resolver
(APIServer pid=2281) INFO:model_hosting_container_standards.sagemaker.sagemaker_router:Creating SageMaker router with unified route resolver
(APIServer pid=2281) [INFO] model_hosting_container_standards.common.fastapi.routing - routing.py:172: Creating router with prefix='', tags=['sagemaker']
(APIServer pid=2281) INFO:model_hosting_container_standards.common.fastapi.routing:Creating router with prefix='', tags=['sagemaker']
(APIServer pid=2281) [INFO] model_hosting_container_standards.common.fastapi.routing - routing.py:110: Mounting 2 handlers to router
(APIServer pid=2281) INFO:model_hosting_container_standards.common.fastapi.routing:Mounting 2 handlers to router
(APIServer pid=2281) [INFO] model_hosting_container_standards.common.fastapi.routing - routing.py:184: Router created with 0 routes
(APIServer pid=2281) INFO:model_hosting_container_standards.common.fastapi.routing:Router created with 0 routes
(APIServer pid=2281) [INFO] model_hosting_container_standards.sagemaker.sagemaker_router - sagemaker_router.py:101: SageMaker router created successfully with 0 routes
(APIServer pid=2281) INFO:model_hosting_container_standards.sagemaker.sagemaker_router:SageMaker router created successfully with 0 routes
(APIServer pid=2281) [INFO] model_hosting_container_standards.common.fastapi.routing - routing.py:287: Including router with conflict detection
(APIServer pid=2281) INFO:model_hosting_container_standards.common.fastapi.routing:Including router with conflict detection
(APIServer pid=2281) [INFO] model_hosting_container_standards.common.fastapi.routing - routing.py:305: Successfully included router with 0 routes
(APIServer pid=2281) INFO:model_hosting_container_standards.common.fastapi.routing:Successfully included router with 0 routes
(APIServer pid=2281) [INFO] model_hosting_container_standards - __init__.py:139: SageMaker bootstrap completed successfully
(APIServer pid=2281) INFO:model_hosting_container_standards:SageMaker bootstrap completed successfully
(APIServer pid=2281) INFO 11-25 04:47:14 [api_server.py:1725] Supported tasks: ['generate']
(APIServer pid=2281) INFO 11-25 04:47:14 [api_server.py:2052] Starting vLLM API server 0 on http://127.0.0.1:8000
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:38] Available routes are:
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /openapi.json, Methods: HEAD, GET
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /docs, Methods: HEAD, GET
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /docs/oauth2-redirect, Methods: HEAD, GET
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /redoc, Methods: HEAD, GET
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /health, Methods: GET
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /load, Methods: GET
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /tokenize, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /detokenize, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/models, Methods: GET
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /version, Methods: GET
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/responses, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/responses/{response_id}, Methods: GET
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/responses/{response_id}/cancel, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/messages, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/chat/completions, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/completions, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/embeddings, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /pooling, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /classify, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /score, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/score, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/audio/transcriptions, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/audio/translations, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /rerank, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v1/rerank, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /v2/rerank, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /scale_elastic_ep, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /is_scaling_elastic_ep, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /inference/v1/generate, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /ping, Methods: GET
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /ping, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /invocations, Methods: POST
(APIServer pid=2281) INFO 11-25 04:47:14 [launcher.py:46] Route: /metrics, Methods: GET
(APIServer pid=2281) INFO:     Started server process [2281]
(APIServer pid=2281) INFO:     Waiting for application startup.
(APIServer pid=2281) INFO:     Application startup complete.
(APIServer pid=2281) INFO:     127.0.0.1:43250 - "GET /health HTTP/1.1" 200 OK
(APIServer pid=2281) INFO:     127.0.0.1:43264 - "GET /v1/models HTTP/1.1" 200 OK

In [43]:
!grep -n "spider"  main.py | head -20

79:DB_NAME: str='spider'
80:# DB_NAME: str='spider'
94:elif DB_NAME == 'spider':
95:    # spider
96:    DB_SET_PATH: str='benchmark/spider/database/*'
97:    # DB_SET_PATH: str='spider_code/spider_ext/*'
98:    TRAINING_SET_PATHS: List[str]=['benchmark/spider/train_others.json', 'benchmark/spider/train_spider.json']
100:    DEV_SET_PATH: str='benchmark/spider/dev.json'

In [14]:
import nltk
import ssl

# Fix SSL
ssl._create_default_https_context = ssl._create_unverified_context

# Download the new punkt_tab (required for NLTK 3.9+)
print("Downloading punkt_tab...")
nltk.download('punkt_tab', quiet=False)
nltk.download('averaged_perceptron_tagger_eng', quiet=False)

# Also download the old ones as backup
nltk.download('punkt', quiet=False)
nltk.download('averaged_perceptron_tagger', quiet=False)

print("\n✓ All NLTK data downloaded!")

Downloading punkt_tab...

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger_eng.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...

✓ All NLTK data downloaded!

[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [44]:
# Create output directory
print("\n2. Creating output directory...")
import os
os.makedirs('output', exist_ok=True)
print("   ✓ Created")

2. Creating output directory...
   ✓ Created

In [45]:
!python main.py

Use Model: CodeLlama-13B-Instruct
2025-11-25 06:04:55.727303: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-11-25 06:04:55.745405: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:467] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1764050695.767259   54031 cuda_dnn.cc:8579] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1764050695.773938   54031 cuda_blas.cc:1407] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
W0000 00:00:1764050695.790661   54031 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1764050695.790692   54031 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1764050695.790695   54031 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1764050695.790698   54031 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
2025-11-25 06:04:55.795596: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
loading dbs
benchmark/spider/database/school_player school_player
benchmark/spider/database/match_season match_season
benchmark/spider/database/aircraft aircraft
benchmark/spider/database/loan_1 loan_1
benchmark/spider/database/performance_attendance performance_attendance
benchmark/spider/database/entertainment_awards entertainment_awards
benchmark/spider/database/gymnast gymnast
benchmark/spider/database/climbing climbing
benchmark/spider/database/news_report news_report
benchmark/spider/database/party_people party_people
benchmark/spider/database/department_management department_management
benchmark/spider/database/student_1 student_1
benchmark/spider/database/architecture architecture
benchmark/spider/database/mountain_photos mountain_photos
benchmark/spider/database/body_builder body_builder
benchmark/spider/database/perpetrator perpetrator
benchmark/spider/database/music_2 music_2
benchmark/spider/database/cre_Docs_and_Epenses cre_Docs_and_Epenses
benchmark/spider/database/storm_record storm_record
benchmark/spider/database/cre_Doc_Control_Systems cre_Doc_Control_Systems
benchmark/spider/database/soccer_2 soccer_2
benchmark/spider/database/wta_1 wta_1
benchmark/spider/database/college_2 college_2
benchmark/spider/database/solvency_ii solvency_ii
benchmark/spider/database/county_public_safety county_public_safety
benchmark/spider/database/browser_web browser_web
benchmark/spider/database/driving_school driving_school
benchmark/spider/database/inn_1 inn_1
benchmark/spider/database/employee_hire_evaluation employee_hire_evaluation
benchmark/spider/database/activity_1 activity_1
benchmark/spider/database/customers_and_products_contacts customers_and_products_contacts
benchmark/spider/database/movie_1 movie_1
benchmark/spider/database/decoration_competition decoration_competition
benchmark/spider/database/sakila_1 sakila_1
benchmark/spider/database/cre_Doc_Template_Mgt cre_Doc_Template_Mgt
benchmark/spider/database/car_1 car_1
benchmark/spider/database/e_government e_government
benchmark/spider/database/products_gen_characteristics products_gen_characteristics
benchmark/spider/database/roller_coaster roller_coaster
benchmark/spider/database/wedding wedding
benchmark/spider/database/medicine_enzyme_interaction medicine_enzyme_interaction
benchmark/spider/database/game_1 game_1
benchmark/spider/database/wine_1 wine_1
benchmark/spider/database/imdb imdb
benchmark/spider/database/network_1 network_1
benchmark/spider/database/local_govt_in_alabama local_govt_in_alabama
benchmark/spider/database/device device
benchmark/spider/database/manufactory_1 manufactory_1
benchmark/spider/database/small_bank_1 small_bank_1
benchmark/spider/database/customers_card_transactions customers_card_transactions
benchmark/spider/database/store_1 store_1
benchmark/spider/database/formula_1 formula_1
benchmark/spider/database/academic academic
benchmark/spider/database/restaurants restaurants
benchmark/spider/database/flight_4 flight_4
benchmark/spider/database/concert_singer concert_singer
benchmark/spider/database/theme_gallery theme_gallery
benchmark/spider/database/city_record city_record
benchmark/spider/database/flight_2 flight_2
benchmark/spider/database/epinions_1 epinions_1
benchmark/spider/database/restaurant_1 restaurant_1
benchmark/spider/database/film_rank film_rank
benchmark/spider/database/bike_1 bike_1
benchmark/spider/database/book_2 book_2
benchmark/spider/database/cre_Drama_Workshop_Groups cre_Drama_Workshop_Groups
benchmark/spider/database/insurance_fnol insurance_fnol
benchmark/spider/database/pilot_record pilot_record
benchmark/spider/database/farm farm
benchmark/spider/database/customers_and_invoices customers_and_invoices
benchmark/spider/database/e_learning e_learning
benchmark/spider/database/allergy_1 allergy_1
benchmark/spider/database/yelp yelp
benchmark/spider/database/network_2 network_2
benchmark/spider/database/company_1 company_1
benchmark/spider/database/company_office company_office
benchmark/spider/database/apartment_rentals apartment_rentals
benchmark/spider/database/student_assessment student_assessment
benchmark/spider/database/gas_company gas_company
benchmark/spider/database/cre_Doc_Tracking_DB cre_Doc_Tracking_DB
benchmark/spider/database/world_1 world_1
benchmark/spider/database/scholar scholar
benchmark/spider/database/dorm_1 dorm_1
benchmark/spider/database/company_employee company_employee
benchmark/spider/database/cinema cinema
benchmark/spider/database/hospital_1 hospital_1
benchmark/spider/database/shop_membership shop_membership
benchmark/spider/database/behavior_monitoring behavior_monitoring
benchmark/spider/database/voter_1 voter_1
benchmark/spider/database/university_basketball university_basketball
benchmark/spider/database/election election
benchmark/spider/database/school_finance school_finance
benchmark/spider/database/machine_repair machine_repair
benchmark/spider/database/game_injury game_injury
benchmark/spider/database/customers_and_addresses customers_and_addresses
benchmark/spider/database/geo geo
benchmark/spider/database/railway railway
benchmark/spider/database/soccer_1 soccer_1
benchmark/spider/database/insurance_policies insurance_policies
benchmark/spider/database/workshop_paper workshop_paper
benchmark/spider/database/musical musical
benchmark/spider/database/local_govt_mdm local_govt_mdm
benchmark/spider/database/insurance_and_eClaims insurance_and_eClaims
benchmark/spider/database/tracking_share_transactions tracking_share_transactions
benchmark/spider/database/sports_competition sports_competition
benchmark/spider/database/document_management document_management
benchmark/spider/database/tvshow tvshow
benchmark/spider/database/candidate_poll candidate_poll
benchmark/spider/database/real_estate_properties real_estate_properties
benchmark/spider/database/cre_Theme_park cre_Theme_park
benchmark/spider/database/wrestler wrestler
benchmark/spider/database/ship_mission ship_mission
benchmark/spider/database/college_3 college_3
benchmark/spider/database/entrepreneur entrepreneur
benchmark/spider/database/product_catalog product_catalog
benchmark/spider/database/station_weather station_weather
benchmark/spider/database/icfp_1 icfp_1
benchmark/spider/database/phone_1 phone_1
benchmark/spider/database/poker_player poker_player
benchmark/spider/database/department_store department_store
benchmark/spider/database/tracking_software_problems tracking_software_problems
benchmark/spider/database/tracking_grants_for_research tracking_grants_for_research
benchmark/spider/database/singer singer
benchmark/spider/database/train_station train_station
benchmark/spider/database/coffee_shop coffee_shop
benchmark/spider/database/baseball_1 baseball_1
benchmark/spider/database/school_bus school_bus
benchmark/spider/database/battle_death battle_death
benchmark/spider/database/pets_1 pets_1
benchmark/spider/database/local_govt_and_lot local_govt_and_lot
benchmark/spider/database/customer_complaints customer_complaints
benchmark/spider/database/club_1 club_1
benchmark/spider/database/culture_company culture_company
benchmark/spider/database/race_track race_track
benchmark/spider/database/scientist_1 scientist_1
benchmark/spider/database/program_share program_share
benchmark/spider/database/twitter_1 twitter_1
benchmark/spider/database/orchestra orchestra
benchmark/spider/database/csu_1 csu_1
benchmark/spider/database/protein_institute protein_institute
benchmark/spider/database/student_transcripts_tracking student_transcripts_tracking
benchmark/spider/database/phone_market phone_market
benchmark/spider/database/museum_visit museum_visit
benchmark/spider/database/music_1 music_1
benchmark/spider/database/hr_1 hr_1
benchmark/spider/database/dog_kennels dog_kennels
benchmark/spider/database/party_host party_host
benchmark/spider/database/customers_campaigns_ecommerce customers_campaigns_ecommerce
benchmark/spider/database/swimming swimming
benchmark/spider/database/music_4 music_4
benchmark/spider/database/assets_maintenance assets_maintenance
benchmark/spider/database/voter_2 voter_2
benchmark/spider/database/chinook_1 chinook_1
benchmark/spider/database/products_for_hire products_for_hire
benchmark/spider/database/debate debate
benchmark/spider/database/flight_company flight_company
benchmark/spider/database/journal_committee journal_committee
benchmark/spider/database/election_representative election_representative
benchmark/spider/database/customer_deliveries customer_deliveries
benchmark/spider/database/tracking_orders tracking_orders
benchmark/spider/database/manufacturer manufacturer
benchmark/spider/database/ship_1 ship_1
benchmark/spider/database/course_teach course_teach
benchmark/spider/database/riding_club riding_club
benchmark/spider/database/college_1 college_1
benchmark/spider/database/flight_1 flight_1
benchmark/spider/database/store_product store_product
Batches: 100% 136/136 [00:04<00:00, 27.53it/s]
Batches: 100% 27/27 [00:01<00:00, 18.98it/s]
loading training examples
reading: benchmark/spider/train_others.json
reading: benchmark/spider/train_spider.json
Batches: 100% 271/271 [00:06<00:00, 40.37it/s]
Batches: 100% 271/271 [00:13<00:00, 20.15it/s]
  1% 13/1034 [00:06<05:12,  3.26it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
  2% 21/1034 [00:12<08:29,  1.99it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
  4% 38/1034 [00:21<09:37,  1.73it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
  5% 55/1034 [00:24<04:14,  3.85it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
  6% 60/1034 [00:31<10:12,  1.59it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
  8% 83/1034 [00:37<05:49,  2.72it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
  8% 85/1034 [00:39<06:46,  2.33it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
  9% 91/1034 [00:40<05:57,  2.63it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 10% 100/1034 [00:42<04:46,  3.26it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 10% 101/1034 [00:44<06:27,  2.41it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 10% 103/1034 [00:47<08:49,  1.76it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 11% 111/1034 [00:49<06:08,  2.50it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 12% 129/1034 [00:53<04:06,  3.68it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 13% 130/1034 [00:57<09:03,  1.66it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 14% 142/1034 [00:59<04:22,  3.39it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 14% 143/1034 [01:04<10:10,  1.46it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 15% 152/1034 [01:05<05:42,  2.58it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 15% 155/1034 [01:05<05:11,  2.82it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 15% 157/1034 [01:07<06:09,  2.37it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 16% 162/1034 [01:11<08:15,  1.76it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 16% 168/1034 [01:14<07:58,  1.81it/s]empty schemas
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 17% 177/1034 [01:18<07:00,  2.04it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 20% 203/1034 [01:22<03:04,  4.50it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 21% 220/1034 [01:30<03:55,  3.45it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 23% 235/1034 [01:39<07:21,  1.81it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 27% 278/1034 [01:53<04:51,  2.60it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 27% 283/1034 [01:53<03:46,  3.32it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 30% 312/1034 [02:05<04:28,  2.69it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 32% 332/1034 [02:12<03:02,  3.84it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 32% 335/1034 [02:16<05:27,  2.13it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 34% 350/1034 [02:20<03:57,  2.88it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 35% 361/1034 [02:26<05:30,  2.04it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 36% 373/1034 [02:28<03:33,  3.10it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 38% 398/1034 [02:38<03:56,  2.69it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 39% 400/1034 [02:39<04:43,  2.23it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 39% 401/1034 [02:40<05:54,  1.78it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 39% 404/1034 [02:42<06:05,  1.73it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 41% 423/1034 [02:48<03:14,  3.13it/s]Invalid expression / Unexpected token. Line 2, Col: 3.
  SELECT  avg(age) FROM matches WHERE result  =  'Lose'
SQL: SELECT  avg(age) FROM matches WHERE result  =  'Win'
 41% 425/1034 [02:52<06:44,  1.51it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 42% 434/1034 [02:52<02:53,  3.46it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 43% 446/1034 [03:00<04:15,  2.31it/s]error: Error code: 400 - {'error': {'message': "This model's maximum context length is 1280 tokens. However, your request has 1458 input tokens. Please reduce the length of the input messages.", 'type': 'BadRequestError', 'param': None, 'code': 400}}
 43% 449/1034 [03:04<07:35,  1.28it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 45% 464/1034 [03:12<04:47,  1.99it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 47% 481/1034 [03:22<05:00,  1.84it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 47% 486/1034 [03:30<09:01,  1.01it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 49% 502/1034 [03:31<02:48,  3.16it/s]error: unsupported operand type(s) for +=: 'NoneType' and 'NoneType'
 49% 504/1034 [03:33<03:20,  2.65it/s]error: Error code: 400 - {'error': {'message': "This model's maximum context length is 1280 tokens. However, your request has 1422 input tokens. Please reduce the length of the input messages.", 'type': 'BadRequestError', 'param': None, 'code': 400}}
error: Error code: 400 - {'error': {'message': "This model's maximum context length is 1280 tokens. However, your request has 1503 input tokens. Please reduce the length of the input messages.", 'type': 'BadRequestError', 'param': None, 'code': 400}}
 50% 513/1034 [03:35<02:51,  3.04it/s]error: Error code: 400 - {'error': {'message': "This model's maximum context length is 1280 tokens. However, your request has 1997 input tokens. Please reduce the length of the input messages.", 'type': 'BadRequestError', 'param': None, 'code': 400}}
error: Error code: 400 - {'error': {'message': "This model's maximum context length is 1280 tokens. However, your request has 1428 input tokens. Please reduce the length of the input messages.", 'type': 'BadRequestError', 'param': None, 'code': 400}}

In [48]:
import glob
import json

# Find the output file
output_files = glob.glob('output/*.json')
print(f"Output file: {output_files[0]}\n")

# Quick stats
with open(output_files[0], 'r') as f:
    results = json.load(f)

results = [r for r in results if r is not None]
print(f"Total examples processed: {len(results)}")
print(f"Avg time per example: {sum(r['time'] for r in results)/len(results):.2f}s")
print(f"Total time: {sum(r['time'] for r in results):.2f}s\n")

# Show first few questions
print("Questions processed:")
for i, r in enumerate(results[:5]):
    print(f"  {i+1}. {r['question'][:60]}...")

Output file: output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev.json

Total examples processed: 799
Avg time per example: 4.98s
Total time: 3975.31s

Questions processed:
  1. How many singers do we have?...
  2. What is the total number of singers?...
  3. Show name, country, age for all singers ordered by age from ...
  4. What are the names, countries, and ages for every singer in ...
  5. What is the average, minimum, and maximum age of all singers...

In [63]:
# ====================================================================
# CREATE WORKING CONVERSION SCRIPT (Original version that worked)
# ====================================================================

conversion_script = '''import json
from copy import deepcopy
import sys
import glob

# Auto-detect latest output file
output_files = glob.glob('output/*-spider-*.json')
output_files = [f for f in output_files if '_report' not in f and '_errors' not in f and '_gold' not in f and '_pred' not in f and '_failed' not in f]

if not output_files:
    print("❌ No output files found!")
    sys.exit(1)

# Get the most recent file
import os
output_files.sort(key=lambda x: os.path.getmtime(x), reverse=True)
FILENAME = output_files[0].replace('.json', '')
INPUT_FILE = FILENAME + '.json'

print(f"📂 Processing: {INPUT_FILE}")

OUTPUT_GOLD = FILENAME + '-gold.txt'
OUTPUT_PRED = FILENAME + '-pred.txt'

field = 'infer'

with open(INPUT_FILE, encoding='utf-8') as f:
    data = json.load(f)


def get_dict_value(r: dict, field: str):
    if '.' in field:
        field = field.split('.')
        for k in field:
            try:
                k = int(k)
            except:
                pass
            r = r[k]
        return r
    else:
        return r[field]


def set_dict_value(r: dict, field: str, value):
    if '.' in field:
        field = field.split('.')
        for k in field[:-1]:
            try:
                k = int(k)
            except:
                pass
            if k not in r:
                r[k] = {}
            r = r[k]
        k = field[-1]
        try:
            k = int(k)
        except:
            pass
        r[k] = value
    else:
        r[field] = value


with open('benchmark/spider/dev.json', encoding='utf-8') as f:
    dev_data = json.load(f)

print(f"Total examples: {len(data)}")
print(f"Valid results: {len([r for r in data if r and isinstance(r, dict)])}")
print(f"Null results: {len([r for r in data if not r])}")

with open(OUTPUT_GOLD, 'w', encoding='utf-8') as fg, \\
        open(OUTPUT_PRED, 'w', encoding='utf-8') as fp:
    for r, dev_r in zip(data, dev_data):
        if r is None:
            r = deepcopy(dev_r)
            r['output'] = r['query']
            set_dict_value(r, field, 'SELECT')

        # Handle case where r might not be a dict
        if not isinstance(r, dict):
            r = deepcopy(dev_r)
            r['output'] = r['query']
            set_dict_value(r, field, 'SELECT')

        assert r['question'] == dev_r['question']
        assert r['output'] == dev_r['query']
        assert r['db'] == dev_r['db_id']

        gold = r['output']
        pred = get_dict_value(r, field).replace('\\n', ' ').replace('\\t', ' ').strip()
        db = r['db']

        fg.write(gold + '\\t' + db + '\\n')
        fp.write(pred + '\\t' + db + '\\n')

print(f"\\n✓ Conversion complete!")
print(f"   Gold: {OUTPUT_GOLD}")
print(f"   Pred: {OUTPUT_PRED}")
'''

# Write it
with open('spider_code/convert_output_ext.py', 'w') as f:
    f.write(conversion_script)

print("✅ Conversion script created!")
print("\nNow run it:")
print("  !python spider_code/convert_output_ext.py")

✅ Conversion script created!

Now run it:
  !python spider_code/convert_output_ext.py

In [64]:
!rm -f output/*-gold.txt output/*-pred.txt

# Run conversion
!python spider_code/convert_output_ext.py

# Verify
!echo "\nLine counts (should be 1034 each):"
!wc -l output/*-gold.txt output/*-pred.txt

📂 Processing: output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-failed-failed.json
Total examples: 0
Valid results: 0
Null results: 0

✓ Conversion complete!
   Gold: output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-failed-failed-gold.txt
   Pred: output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-failed-failed-pred.txt
\nLine counts (should be 1034 each):
0 output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-failed-failed-gold.txt
0 output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-failed-failed-pred.txt
0 total

In [66]:
# ====================================================================
# RUN CONVERSION WITH CORRECT FILE
# ====================================================================

import json
from copy import deepcopy

# Explicitly use the correct file
INPUT_FILE = 'output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev.json'
OUTPUT_GOLD = 'output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-gold.txt'
OUTPUT_PRED = 'output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-pred.txt'

print("="*70)
print("CONVERTING RESULTS TO EVALUATION FORMAT")
print("="*70)
print(f"\n📂 Input:  {INPUT_FILE}")
print(f"📝 Output: {OUTPUT_GOLD}")
print(f"📝 Output: {OUTPUT_PRED}\n")

# Load Gen-SQL results
with open(INPUT_FILE, encoding='utf-8') as f:
    data = json.load(f)

# Load ground truth
with open('benchmark/spider/dev.json', encoding='utf-8') as f:
    dev_data = json.load(f)

print(f"Results: {len(data)} examples")
print(f"Ground truth: {len(dev_data)} examples")

valid = len([r for r in data if r and isinstance(r, dict)])
null = len(data) - valid
print(f"Valid: {valid} | Null: {null}\n")

# Convert
with open(OUTPUT_GOLD, 'w', encoding='utf-8') as fg, \
        open(OUTPUT_PRED, 'w', encoding='utf-8') as fp:

    for r, dev_r in zip(data, dev_data):
        # Handle null results
        if r is None or not isinstance(r, dict):
            r = {
                'question': dev_r['question'],
                'output': dev_r['query'],
                'db': dev_r['db_id'],
                'infer': 'SELECT'  # Placeholder for failed
            }

        gold = dev_r['query']
        pred = r.get('infer', 'SELECT').replace('\n', ' ').replace('\t', ' ').strip()
        db = dev_r['db_id']

        fg.write(gold + '\t' + db + '\n')
        fp.write(pred + '\t' + db + '\n')

print("✅ Conversion complete!\n")

# Verify
!wc -l {OUTPUT_GOLD} {OUTPUT_PRED}
print("\n✓ Both files should have 1034 lines")

======================================================================
CONVERTING RESULTS TO EVALUATION FORMAT
======================================================================

📂 Input:  output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev.json
📝 Output: output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-gold.txt
📝 Output: output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-pred.txt

Results: 1034 examples
Ground truth: 1034 examples
Valid: 799 | Null: 235

✅ Conversion complete!

  1034 output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-gold.txt
  1034 output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-pred.txt
  2068 total

✓ Both files should have 1034 lines

In [67]:
!python3 benchmark/test-suite-sql-eval/evaluation_2.py \
    --gold output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-gold.txt \
    --pred output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-pred.txt \
    --etype all \
    --db benchmark/spider/database \
    --out_file output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-failed.json \
    --table benchmark/spider/tables.json \
    --progress_bar_for_each_datapoint

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  count(*) FROM singer
100% 1/1 [00:00<00:00, 237.56it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  count(*) FROM singer
100% 1/1 [00:00<00:00, 344.93it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Name ,  Country ,  Age FROM singer ORDER BY Age DESC
100% 1/1 [00:00<00:00, 340.25it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  name ,  country ,  age FROM singer ORDER BY age DESC
100% 1/1 [00:00<00:00, 345.18it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
100% 1/1 [00:00<00:00, 360.55it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
100% 1/1 [00:00<00:00, 357.78it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Song_Name ,  Song_release_year FROM singer ORDER BY Age LIMIT 1
100% 1/1 [00:00<00:00, 346.72it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Song_Name ,  Song_release_year FROM singer WHERE Age = (SELECT MIN(Age) FROM singer)
100% 1/1 [00:00<00:00, 350.02it/s]
medium pred: SELECT  Song_Name ,  Song_release_year FROM singer WHERE Age = (SELECT MIN(Age) FROM singer)
medium gold: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  DISTINCT Country FROM singer WHERE Age  >  20
100% 1/1 [00:00<00:00, 358.09it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  DISTINCT Country FROM singer WHERE Age  >  20
100% 1/1 [00:00<00:00, 255.50it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Country ,  COUNT(*) FROM singer GROUP BY Country
100% 1/1 [00:00<00:00, 296.65it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Country ,  COUNT(*) FROM singer GROUP BY Country
100% 1/1 [00:00<00:00, 308.95it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Song_Name FROM singer WHERE Age  >  (SELECT avg(Age) FROM singer)
100% 1/1 [00:00<00:00, 309.13it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT
hard gold: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Location ,  Name FROM stadium WHERE Capacity BETWEEN 5000 AND 10000
100% 1/1 [00:00<00:00, 305.51it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Location, Name FROM stadium WHERE Capacity BETWEEN 5000 AND 10000
100% 1/1 [00:00<00:00, 328.12it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  max(Capacity) ,  avg(Capacity) FROM stadium
  0% 0/1 [00:00<?, ?it/s]
medium pred: SELECT  max(Capacity) ,  avg(Capacity) FROM stadium
medium gold: select max(capacity), average from stadium

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  avg(Capacity) ,  max(Capacity) FROM stadium
100% 1/1 [00:00<00:00, 105.58it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Name ,  Capacity FROM stadium WHERE Stadium_ID IN (SELECT Stadium_ID FROM stadium GROUP BY Stadium_ID ORDER BY avg(Highest) DESC LIMIT 1)
100% 1/1 [00:00<00:00, 333.09it/s]
medium pred: SELECT  Name ,  Capacity FROM stadium WHERE Stadium_ID IN (SELECT Stadium_ID FROM stadium GROUP BY Stadium_ID ORDER BY avg(Highest) DESC LIMIT 1)
medium gold: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Stadium_ID ,  Location ,  Name ,  Capacity ,  Highest ,  Average FROM stadium ORDER BY Average DESC LIMIT 1
  0% 0/1 [00:00<?, ?it/s]
medium pred: SELECT  Stadium_ID ,  Location ,  Name ,  Capacity ,  Highest ,  Average FROM stadium ORDER BY Average DESC LIMIT 1
medium gold: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  count(*) FROM concert WHERE Year  IN  ('2014','2015')
100% 1/1 [00:00<00:00, 350.08it/s]
medium pred: SELECT  count(*) FROM concert WHERE Year  IN  ('2014','2015')
medium gold: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  count(*) FROM concert WHERE Year  IN  ('2014','2015')
100% 1/1 [00:00<00:00, 362.17it/s]
medium pred: SELECT  count(*) FROM concert WHERE Year  IN  ('2014','2015')
medium gold: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T2.Name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID GROUP BY T1.Stadium_ID
100% 1/1 [00:00<00:00, 329.40it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Stadium_ID ,  COUNT(*) FROM concert GROUP BY Stadium_ID
  0% 0/1 [00:00<?, ?it/s]
medium pred: SELECT  Stadium_ID ,  COUNT(*) FROM concert GROUP BY Stadium_ID
medium gold: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T1.Name ,  T1.Capacity FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.Year  >=  '2014' GROUP BY T1.Stadium_ID ORDER BY count(*) DESC LIMIT 1
100% 1/1 [00:00<00:00, 340.67it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  t1.name ,  t1.capacity FROM stadium AS t1 JOIN concert AS t2 ON t1.Stadium_ID  =  t2.Stadium_ID WHERE t2.Year  >  2013 GROUP BY t1.Stadium_ID ORDER BY count(*) DESC LIMIT 1
100% 1/1 [00:00<00:00, 343.68it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Year FROM concert GROUP BY Year ORDER BY count(*) DESC LIMIT 1
100% 1/1 [00:00<00:00, 245.61it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Year ,  COUNT(*) FROM concert GROUP BY Year ORDER BY COUNT(*) DESC;
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT  Year ,  COUNT(*) FROM concert GROUP BY Year ORDER BY COUNT(*) DESC;
hard gold: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Location FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert);
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT  Location FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert);
hard gold: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Location FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert);
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT  Location FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert);
hard gold: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  DISTINCT Country FROM singer WHERE Age  >  40 INTERSECT SELECT  DISTINCT Country FROM singer WHERE Age  <  30
100% 1/1 [00:00<00:00, 281.12it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Name FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert WHERE Year  =  2014)
100% 1/1 [00:00<00:00, 269.00it/s]
hard pred: SELECT  Name FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert WHERE Year  =  2014)
hard gold: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Name FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert WHERE Year = 2014)
100% 1/1 [00:00<00:00, 298.12it/s]
hard pred: SELECT  Name FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert WHERE Year = 2014)
hard gold: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  concert_Name ,  Theme ,  count(*) FROM concert JOIN singer_in_concert ON concert.concert_ID  =  singer_in_concert.concert_ID GROUP BY concert.concert_ID
100% 1/1 [00:00<00:00, 111.71it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  concert.concert_Name ,  concert.Theme ,  COUNT(singer_in_concert.Singer_ID) FROM concert JOIN singer_in_concert ON concert.concert_ID  =  singer_in_concert.concert_ID GROUP BY concert.concert_Name ,  concert.Theme
100% 1/1 [00:00<00:00, 320.84it/s]
medium pred: SELECT  concert.concert_Name ,  concert.Theme ,  COUNT(singer_in_concert.Singer_ID) FROM concert JOIN singer_in_concert ON concert.concert_ID  =  singer_in_concert.concert_ID GROUP BY concert.concert_Name ,  concert.Theme
medium gold: select t2.concert_name ,  t2.theme ,  count(*) from singer_in_concert as t1 join concert as t2 on t1.concert_id  =  t2.concert_id group by t2.concert_id

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T1.Name ,  count(*) FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID GROUP BY T1.Singer_ID
100% 1/1 [00:00<00:00, 339.70it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
medium pred: SELECT
medium gold: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T1.Name FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T3.Year  =  '2014'
100% 1/1 [00:00<00:00, 334.71it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  t1.Name FROM singer AS t1 JOIN singer_in_concert AS t2 ON t1.Singer_ID  =  t2.Singer_ID JOIN concert AS t3 ON t2.concert_ID  =  t3.concert_ID WHERE t3.Year  =  "2014";
100% 1/1 [00:00<00:00, 324.86it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  name ,  country FROM singer WHERE song_name LIKE '%Hey%'
100% 1/1 [00:00<00:00, 341.64it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
medium pred: SELECT
medium gold: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T1.Name ,  T1.Location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.Year  =  '2014' INTERSECT SELECT  T1.Name ,  T1.Location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.Year  =  '2015'
100% 1/1 [00:00<00:00, 324.89it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.Year  =  2014 OR T2.Year  =  2015
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT  T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.Year  =  2014 OR T2.Year  =  2015
extra gold: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  COUNT(*) FROM concert WHERE Stadium_ID IN (SELECT Stadium_ID FROM stadium ORDER BY Capacity DESC LIMIT 1);
100% 1/1 [00:00<00:00, 235.85it/s]
hard pred: SELECT  COUNT(*) FROM concert WHERE Stadium_ID IN (SELECT Stadium_ID FROM stadium ORDER BY Capacity DESC LIMIT 1);
hard gold: select count(*) from concert where stadium_id = (select stadium_id from stadium order by capacity desc limit 1)

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  COUNT(*) FROM concert WHERE Stadium_ID IN ( SELECT Stadium_ID FROM stadium ORDER BY capacity DESC LIMIT 1 )
100% 1/1 [00:00<00:00, 268.16it/s]
hard pred: SELECT  COUNT(*) FROM concert WHERE Stadium_ID IN ( SELECT Stadium_ID FROM stadium ORDER BY capacity DESC LIMIT 1 )
hard gold: select count(*) from concert where stadium_id = (select stadium_id from stadium order by capacity desc limit 1)

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Pets WHERE weight  >  10
100% 1/1 [00:00<00:00, 315.91it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Pets WHERE weight  >  10
100% 1/1 [00:00<00:00, 320.57it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  weight FROM Pets WHERE PetType = 'dog' ORDER BY pet_age ASC LIMIT 1
100% 1/1 [00:00<00:00, 313.22it/s]
medium pred: SELECT  weight FROM Pets WHERE PetType = 'dog' ORDER BY pet_age ASC LIMIT 1
medium gold: SELECT weight FROM pets ORDER BY pet_age LIMIT 1

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  weight FROM Pets WHERE PetType  =  'dog' ORDER BY pet_age ASC LIMIT 1
100% 1/1 [00:00<00:00, 312.66it/s]
medium pred: SELECT  weight FROM Pets WHERE PetType  =  'dog' ORDER BY pet_age ASC LIMIT 1
medium gold: SELECT weight FROM pets ORDER BY pet_age LIMIT 1

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  PetType ,  max(weight) FROM Pets GROUP BY PetType
100% 1/1 [00:00<00:00, 323.09it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  PetType ,  max(weight) FROM Pets GROUP BY PetType
100% 1/1 [00:00<00:00, 305.40it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Has_Pet AS T1 JOIN Student AS T2 ON T1.StuID  =  T2.StuID WHERE T2.age  >  20
100% 1/1 [00:00<00:00, 113.49it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Has_Pet JOIN Student ON Has_Pet.StuID = Student.StuID WHERE Student.Age > 20
100% 1/1 [00:00<00:00, 108.49it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Pets WHERE PetType  =  'dog' AND PetID IN (SELECT PetID FROM Has_Pet WHERE StuID IN (SELECT StuID FROM Student WHERE Sex  =  'F'));
100% 1/1 [00:00<00:00, 330.49it/s]
hard pred: SELECT  count(*) FROM Pets WHERE PetType  =  'dog' AND PetID IN (SELECT PetID FROM Has_Pet WHERE StuID IN (SELECT StuID FROM Student WHERE Sex  =  'F'));
hard gold: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T2.petid  =  T3.petid WHERE T1.sex  =  'F' AND T3.pettype  =  'dog'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Pets, Student WHERE Pets.PetType  =  'dog' AND Pets.pet_age  =  Student.Age AND Student.Sex  =  'F';
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT  count(*) FROM Pets, Student WHERE Pets.PetType  =  'dog' AND Pets.pet_age  =  Student.Age AND Student.Sex  =  'F';
hard gold: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T2.petid  =  T3.petid WHERE T1.sex  =  'F' AND T3.pettype  =  'dog'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  COUNT(DISTINCT PetType) FROM Pets;
100% 1/1 [00:00<00:00, 342.59it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(DISTINCT PetType) FROM Pets;
100% 1/1 [00:00<00:00, 332.59it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT
extra gold: SELECT DISTINCT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat' OR T3.pettype  =  'dog'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  Fname FROM Student WHERE StuID IN (SELECT StuID FROM Has_Pet WHERE PetID IN (SELECT PetID FROM Pets WHERE PetType IN ('cat', 'dog')))
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT  Fname FROM Student WHERE StuID IN (SELECT StuID FROM Has_Pet WHERE PetID IN (SELECT PetID FROM Pets WHERE PetType IN ('cat', 'dog')))
extra gold: SELECT DISTINCT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat' OR T3.pettype  =  'dog'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  T1.Fname FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'cat' INTERSECT SELECT  T1.Fname FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'dog'
100% 1/1 [00:00<00:00, 279.27it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  T1.Fname FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  IN  ('cat' ,  'dog') GROUP BY T1.StuID HAVING count(*)  =  2
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT  T1.Fname FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  IN  ('cat' ,  'dog') GROUP BY T1.StuID HAVING count(*)  =  2
extra gold: SELECT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat' INTERSECT SELECT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT
extra gold: SELECT major ,  age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT
extra gold: SELECT major ,  age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT
hard gold: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  StuID FROM Student WHERE StuID NOT IN (SELECT StuID FROM Has_Pet WHERE PetID IN (SELECT PetID FROM Pets WHERE PetType = 'cat'));
100% 1/1 [00:00<00:00, 257.43it/s]
hard pred: SELECT  StuID FROM Student WHERE StuID NOT IN (SELECT StuID FROM Has_Pet WHERE PetID IN (SELECT PetID FROM Pets WHERE PetType = 'cat'));
hard gold: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  T1.Fname ,  T1.Age FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'dog' EXCEPT SELECT  T1.Fname ,  T1.Age FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'cat'
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT  T1.Fname ,  T1.Age FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'dog' EXCEPT SELECT  T1.Fname ,  T1.Age FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'cat'

In [68]:
import json
import re

print("="*70)

# Load results to count valid/null
with open('output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev.json') as f:
    results = json.load(f)

valid_count = len([r for r in results if r and isinstance(r, dict)])
null_count = len(results) - valid_count

# Load gold and pred to calculate normalized EM
with open('output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-gold.txt') as f:
    gold_lines = f.readlines()

with open('output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-pred.txt') as f:
    pred_lines = f.readlines()

# Normalize SQL
def normalize(sql):
    sql = sql.lower().strip()
    sql = re.sub(r'\s+', ' ', sql)
    sql = re.sub(r'\s*,\s*', ', ', sql)
    sql = re.sub(r'\s*\(\s*', '(', sql)
    sql = re.sub(r'\s*\)\s*', ')', sql)
    return sql.strip()

normalized_matches = 0
for g, p in zip(gold_lines, pred_lines):
    gold_sql = g.split('\t')[0].strip()
    pred_sql = p.split('\t')[0].strip()

    if normalize(gold_sql) == normalize(pred_sql):
        normalized_matches += 1

normalized_em = (normalized_matches / 1034) * 100

# Run official evaluation to get EX
print("Running official evaluation for Execution Accuracy...\n")
!python3 benchmark/test-suite-sql-eval/evaluation_2.py \
    --gold output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-gold.txt \
    --pred output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-pred.txt \
    --etype all \
    --db benchmark/spider/database \
    --out_file output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-failed.json \
    --table benchmark/spider/tables.json \
    --progress_bar_for_each_datapoint

# Load failed.json to get correct count
with open('output/CodeLlama-13B-Instruct-spider-gtrr_column-S30C200-SS4CS6-L3-q_skltn-sql_skltn-sql_post_process-fs4-dev-failed.json') as f:
    failed_data = json.load(f)

correct_count = 1034 - len(failed_data)

print("\n" + "="*70)
print("FINAL RESULTS SUMMARY")
print("="*70)
print(f"Normalized EM:                    {normalized_em:.1f}% (case-insensitive)")
print(f"✅ Execution Accuracy (EX):        {correct_count/1034*100:.1f}% ⭐ MAIN METRIC")
print(f"\nGeneration success rate:          {valid_count/1034*100:.1f}%")
print(f"Null/failed generations:          {null_count/1034*100:.1f}%")
print("="*70)

======================================================================
Running official evaluation for Execution Accuracy...

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  count(*) FROM singer
100% 1/1 [00:00<00:00, 229.25it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  count(*) FROM singer
100% 1/1 [00:00<00:00, 343.29it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Name ,  Country ,  Age FROM singer ORDER BY Age DESC
100% 1/1 [00:00<00:00, 352.05it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  name ,  country ,  age FROM singer ORDER BY age DESC
100% 1/1 [00:00<00:00, 340.89it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
100% 1/1 [00:00<00:00, 335.57it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
100% 1/1 [00:00<00:00, 342.36it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Song_Name ,  Song_release_year FROM singer ORDER BY Age LIMIT 1
100% 1/1 [00:00<00:00, 334.87it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Song_Name ,  Song_release_year FROM singer WHERE Age = (SELECT MIN(Age) FROM singer)
100% 1/1 [00:00<00:00, 351.64it/s]
medium pred: SELECT  Song_Name ,  Song_release_year FROM singer WHERE Age = (SELECT MIN(Age) FROM singer)
medium gold: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  DISTINCT Country FROM singer WHERE Age  >  20
100% 1/1 [00:00<00:00, 363.71it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  DISTINCT Country FROM singer WHERE Age  >  20
100% 1/1 [00:00<00:00, 247.26it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Country ,  COUNT(*) FROM singer GROUP BY Country
100% 1/1 [00:00<00:00, 286.46it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Country ,  COUNT(*) FROM singer GROUP BY Country
100% 1/1 [00:00<00:00, 303.98it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Song_Name FROM singer WHERE Age  >  (SELECT avg(Age) FROM singer)
100% 1/1 [00:00<00:00, 293.92it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT
hard gold: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Location ,  Name FROM stadium WHERE Capacity BETWEEN 5000 AND 10000
100% 1/1 [00:00<00:00, 320.62it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Location, Name FROM stadium WHERE Capacity BETWEEN 5000 AND 10000
100% 1/1 [00:00<00:00, 333.99it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  max(Capacity) ,  avg(Capacity) FROM stadium
  0% 0/1 [00:00<?, ?it/s]
medium pred: SELECT  max(Capacity) ,  avg(Capacity) FROM stadium
medium gold: select max(capacity), average from stadium

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  avg(Capacity) ,  max(Capacity) FROM stadium
100% 1/1 [00:00<00:00, 108.45it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Name ,  Capacity FROM stadium WHERE Stadium_ID IN (SELECT Stadium_ID FROM stadium GROUP BY Stadium_ID ORDER BY avg(Highest) DESC LIMIT 1)
100% 1/1 [00:00<00:00, 323.86it/s]
medium pred: SELECT  Name ,  Capacity FROM stadium WHERE Stadium_ID IN (SELECT Stadium_ID FROM stadium GROUP BY Stadium_ID ORDER BY avg(Highest) DESC LIMIT 1)
medium gold: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Stadium_ID ,  Location ,  Name ,  Capacity ,  Highest ,  Average FROM stadium ORDER BY Average DESC LIMIT 1
  0% 0/1 [00:00<?, ?it/s]
medium pred: SELECT  Stadium_ID ,  Location ,  Name ,  Capacity ,  Highest ,  Average FROM stadium ORDER BY Average DESC LIMIT 1
medium gold: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  count(*) FROM concert WHERE Year  IN  ('2014','2015')
100% 1/1 [00:00<00:00, 362.77it/s]
medium pred: SELECT  count(*) FROM concert WHERE Year  IN  ('2014','2015')
medium gold: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  count(*) FROM concert WHERE Year  IN  ('2014','2015')
100% 1/1 [00:00<00:00, 352.97it/s]
medium pred: SELECT  count(*) FROM concert WHERE Year  IN  ('2014','2015')
medium gold: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T2.Name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID GROUP BY T1.Stadium_ID
100% 1/1 [00:00<00:00, 345.95it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Stadium_ID ,  COUNT(*) FROM concert GROUP BY Stadium_ID
  0% 0/1 [00:00<?, ?it/s]
medium pred: SELECT  Stadium_ID ,  COUNT(*) FROM concert GROUP BY Stadium_ID
medium gold: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T1.Name ,  T1.Capacity FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.Year  >=  '2014' GROUP BY T1.Stadium_ID ORDER BY count(*) DESC LIMIT 1
100% 1/1 [00:00<00:00, 322.37it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  t1.name ,  t1.capacity FROM stadium AS t1 JOIN concert AS t2 ON t1.Stadium_ID  =  t2.Stadium_ID WHERE t2.Year  >  2013 GROUP BY t1.Stadium_ID ORDER BY count(*) DESC LIMIT 1
100% 1/1 [00:00<00:00, 333.28it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Year FROM concert GROUP BY Year ORDER BY count(*) DESC LIMIT 1
100% 1/1 [00:00<00:00, 212.06it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Year ,  COUNT(*) FROM concert GROUP BY Year ORDER BY COUNT(*) DESC;
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT  Year ,  COUNT(*) FROM concert GROUP BY Year ORDER BY COUNT(*) DESC;
hard gold: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Location FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert);
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT  Location FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert);
hard gold: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Location FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert);
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT  Location FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert);
hard gold: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  DISTINCT Country FROM singer WHERE Age  >  40 INTERSECT SELECT  DISTINCT Country FROM singer WHERE Age  <  30
100% 1/1 [00:00<00:00, 299.83it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Name FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert WHERE Year  =  2014)
100% 1/1 [00:00<00:00, 284.92it/s]
hard pred: SELECT  Name FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert WHERE Year  =  2014)
hard gold: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  Name FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert WHERE Year = 2014)
100% 1/1 [00:00<00:00, 304.46it/s]
hard pred: SELECT  Name FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert WHERE Year = 2014)
hard gold: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  concert_Name ,  Theme ,  count(*) FROM concert JOIN singer_in_concert ON concert.concert_ID  =  singer_in_concert.concert_ID GROUP BY concert.concert_ID
100% 1/1 [00:00<00:00, 107.93it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  concert.concert_Name ,  concert.Theme ,  COUNT(singer_in_concert.Singer_ID) FROM concert JOIN singer_in_concert ON concert.concert_ID  =  singer_in_concert.concert_ID GROUP BY concert.concert_Name ,  concert.Theme
100% 1/1 [00:00<00:00, 326.81it/s]
medium pred: SELECT  concert.concert_Name ,  concert.Theme ,  COUNT(singer_in_concert.Singer_ID) FROM concert JOIN singer_in_concert ON concert.concert_ID  =  singer_in_concert.concert_ID GROUP BY concert.concert_Name ,  concert.Theme
medium gold: select t2.concert_name ,  t2.theme ,  count(*) from singer_in_concert as t1 join concert as t2 on t1.concert_id  =  t2.concert_id group by t2.concert_id

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T1.Name ,  count(*) FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID GROUP BY T1.Singer_ID
100% 1/1 [00:00<00:00, 306.27it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
medium pred: SELECT
medium gold: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T1.Name FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T3.Year  =  '2014'
100% 1/1 [00:00<00:00, 344.90it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  t1.Name FROM singer AS t1 JOIN singer_in_concert AS t2 ON t1.Singer_ID  =  t2.Singer_ID JOIN concert AS t3 ON t2.concert_ID  =  t3.concert_ID WHERE t3.Year  =  "2014";
100% 1/1 [00:00<00:00, 342.62it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  name ,  country FROM singer WHERE song_name LIKE '%Hey%'
100% 1/1 [00:00<00:00, 352.55it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
medium pred: SELECT
medium gold: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T1.Name ,  T1.Location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.Year  =  '2014' INTERSECT SELECT  T1.Name ,  T1.Location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.Year  =  '2015'
100% 1/1 [00:00<00:00, 336.46it/s]
benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.Year  =  2014 OR T2.Year  =  2015
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT  T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.Year  =  2014 OR T2.Year  =  2015
extra gold: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  COUNT(*) FROM concert WHERE Stadium_ID IN (SELECT Stadium_ID FROM stadium ORDER BY Capacity DESC LIMIT 1);
100% 1/1 [00:00<00:00, 220.94it/s]
hard pred: SELECT  COUNT(*) FROM concert WHERE Stadium_ID IN (SELECT Stadium_ID FROM stadium ORDER BY Capacity DESC LIMIT 1);
hard gold: select count(*) from concert where stadium_id = (select stadium_id from stadium order by capacity desc limit 1)

benchmark/spider/database/concert_singer/concert_singer.sqlite
SELECT  COUNT(*) FROM concert WHERE Stadium_ID IN ( SELECT Stadium_ID FROM stadium ORDER BY capacity DESC LIMIT 1 )
100% 1/1 [00:00<00:00, 254.32it/s]
hard pred: SELECT  COUNT(*) FROM concert WHERE Stadium_ID IN ( SELECT Stadium_ID FROM stadium ORDER BY capacity DESC LIMIT 1 )
hard gold: select count(*) from concert where stadium_id = (select stadium_id from stadium order by capacity desc limit 1)

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Pets WHERE weight  >  10
100% 1/1 [00:00<00:00, 302.03it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Pets WHERE weight  >  10
100% 1/1 [00:00<00:00, 300.09it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  weight FROM Pets WHERE PetType = 'dog' ORDER BY pet_age ASC LIMIT 1
100% 1/1 [00:00<00:00, 307.21it/s]
medium pred: SELECT  weight FROM Pets WHERE PetType = 'dog' ORDER BY pet_age ASC LIMIT 1
medium gold: SELECT weight FROM pets ORDER BY pet_age LIMIT 1

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  weight FROM Pets WHERE PetType  =  'dog' ORDER BY pet_age ASC LIMIT 1
100% 1/1 [00:00<00:00, 301.92it/s]
medium pred: SELECT  weight FROM Pets WHERE PetType  =  'dog' ORDER BY pet_age ASC LIMIT 1
medium gold: SELECT weight FROM pets ORDER BY pet_age LIMIT 1

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  PetType ,  max(weight) FROM Pets GROUP BY PetType
100% 1/1 [00:00<00:00, 305.02it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  PetType ,  max(weight) FROM Pets GROUP BY PetType
100% 1/1 [00:00<00:00, 308.79it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Has_Pet AS T1 JOIN Student AS T2 ON T1.StuID  =  T2.StuID WHERE T2.age  >  20
100% 1/1 [00:00<00:00, 110.69it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Has_Pet JOIN Student ON Has_Pet.StuID = Student.StuID WHERE Student.Age > 20
100% 1/1 [00:00<00:00, 96.14it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Pets WHERE PetType  =  'dog' AND PetID IN (SELECT PetID FROM Has_Pet WHERE StuID IN (SELECT StuID FROM Student WHERE Sex  =  'F'));
100% 1/1 [00:00<00:00, 264.83it/s]
hard pred: SELECT  count(*) FROM Pets WHERE PetType  =  'dog' AND PetID IN (SELECT PetID FROM Has_Pet WHERE StuID IN (SELECT StuID FROM Student WHERE Sex  =  'F'));
hard gold: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T2.petid  =  T3.petid WHERE T1.sex  =  'F' AND T3.pettype  =  'dog'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(*) FROM Pets, Student WHERE Pets.PetType  =  'dog' AND Pets.pet_age  =  Student.Age AND Student.Sex  =  'F';
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT  count(*) FROM Pets, Student WHERE Pets.PetType  =  'dog' AND Pets.pet_age  =  Student.Age AND Student.Sex  =  'F';
hard gold: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T2.petid  =  T3.petid WHERE T1.sex  =  'F' AND T3.pettype  =  'dog'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  COUNT(DISTINCT PetType) FROM Pets;
100% 1/1 [00:00<00:00, 342.76it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  count(DISTINCT PetType) FROM Pets;
100% 1/1 [00:00<00:00, 353.17it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT
extra gold: SELECT DISTINCT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat' OR T3.pettype  =  'dog'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  Fname FROM Student WHERE StuID IN (SELECT StuID FROM Has_Pet WHERE PetID IN (SELECT PetID FROM Pets WHERE PetType IN ('cat', 'dog')))
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT  Fname FROM Student WHERE StuID IN (SELECT StuID FROM Has_Pet WHERE PetID IN (SELECT PetID FROM Pets WHERE PetType IN ('cat', 'dog')))
extra gold: SELECT DISTINCT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat' OR T3.pettype  =  'dog'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  T1.Fname FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'cat' INTERSECT SELECT  T1.Fname FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'dog'
100% 1/1 [00:00<00:00, 319.37it/s]
benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  T1.Fname FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  IN  ('cat' ,  'dog') GROUP BY T1.StuID HAVING count(*)  =  2
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT  T1.Fname FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  IN  ('cat' ,  'dog') GROUP BY T1.StuID HAVING count(*)  =  2
extra gold: SELECT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat' INTERSECT SELECT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT
extra gold: SELECT major ,  age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT
extra gold: SELECT major ,  age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT
  0% 0/1 [00:00<?, ?it/s]
hard pred: SELECT
hard gold: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  StuID FROM Student WHERE StuID NOT IN (SELECT StuID FROM Has_Pet WHERE PetID IN (SELECT PetID FROM Pets WHERE PetType = 'cat'));
100% 1/1 [00:00<00:00, 272.20it/s]
hard pred: SELECT  StuID FROM Student WHERE StuID NOT IN (SELECT StuID FROM Has_Pet WHERE PetID IN (SELECT PetID FROM Pets WHERE PetType = 'cat'));
hard gold: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'

benchmark/spider/database/pets_1/pets_1.sqlite
SELECT  T1.Fname ,  T1.Age FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'dog' EXCEPT SELECT  T1.Fname ,  T1.Age FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'cat'
  0% 0/1 [00:00<?, ?it/s]
extra pred: SELECT  T1.Fname ,  T1.Age FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'dog' EXCEPT SELECT  T1.Fname ,  T1.Age FROM Student AS T1 JOIN Has_Pet AS T2 ON T1.StuID  =  T2.StuID JOIN Pets AS T3 ON T2.PetID  =  T3.PetID WHERE T3.PetType  =  'cat'